{
                "partitions": [
    {
                      "topic": "ad-events",
                      "partition": 0,
                      "offset": -1
                    },
    {
                      "topic": "ad-events",
                      "partition": 1,
                      "offset": -1
                    },
    {
                      "topic": "ad-events",
                      "partition": 2,
                      "offset": -1
                    },
    {
                      "topic": "ad-events",
                      "partition": 3,
                      "offset": -1
                    },
    {
                      "topic": "ad-events",
                      "partition": 4,
                      "offset": -1
                    },
    {
                      "topic": "ad-events",
                      "partition": 5,
                      "offset": -1
                    },
    {
                      "topic": "ad-events",
                      "partition": 6,
                      "offset": -1
                    },
    {
                      "topic": "ad-events",
                      "partition": 7,
                      "offset": -1
                    }
  ],
            "version": 1
}
